@charset "ISO-8859-1";

/*.row{
	border: 1px solid black;
	margin-top: 150px;
	margin-right: 200px;
	margin-left: 200px;
	padding: 40px 100px;
	
}*/

body{
	background-image: url(../images/backg3.jpg);
	background-repeat: no-repeat;
	background-size: cover;

}

.containerform{


	box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)

;

  
  
  min-height: 500px;
  width: 50vw;
  margin: 210px auto;
  margin-top: 150px;
  background: white;
  border-radius: 7px;
  padding: 60px 50px;
  
}
.containerformstock{


	box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)

;
  margin:50px;
 justify-content:center;
  margin-top:50px;	
  background: white;
  border-radius: 7px;
  padding: 60px 50px;
   min-height: 500px;
  
}
.container-report{
	
	box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)

;
  width:50%;
  margin-left:auto;
  margin-right:auto;
  margin-top:50px;	
  background-color: rgb(255 255 255 / 95%);
  border-radius: 7px;
  padding: 60px 50px;
	
}
.containerform-report-result{
		box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.034),
  0 6.7px 5.3px rgba(0, 0, 0, 0.048),
  0 12.5px 10px rgba(0, 0, 0, 0.06),
  0 22.3px 17.9px rgba(0, 0, 0, 0.072),
  0 41.8px 33.4px rgba(0, 0, 0, 0.086),
  0 100px 80px rgba(0, 0, 0, 0.12)

;
  width:70%;
  background-color: rgb(255 255 255 / 95%);
  margin-left:auto;
  margin-right:auto;
  margin-top:50px;	
  border-radius: 7px;
  padding: 60px 50px;
}
.background-nav {
	
	background-color: #212529;
	
}
.background-nav a{
	
	background-color: #212529;
	color: white;
}
.dislplayalign {
 	display: flex;
 	margin-top: 20px;
 }
.dislplayalign div:first-child{
 	width: 20%;
 }
 .dislplayalign div:last-child{
 	width: 80%;
 	padding-left: 10px;
 }
 .dislplayalign div button{
 	width: 100%;
 }
.form-input{
	width: 100%;
	margin-bottom: 50px;
}

.btnset{
 	margin-top: 20px;
 	width: 400px;
 	margin-left: 10px
 	
 }
 .btnclear{
 	width:150px;
 	margin-top: 20px;
 }
 .display-hide-content{
 	display: flex;
 }
  .display-hide-content > :first-child{
  	padding-right:5px;
 	width: 90%;
 }
 .oddeven{
 	width:100%;
 	border-style: hidden;
    border-bottom: black;
    
 }
 .oddeven tr{
 	border-bottom: black;
 }
 .oddeven tbody tr:nth-child(odd) td {
 	background: #fff;
 }
 
 .buttonctr{
 	width: 100%;
 	margin-top: 25px;
	
 }
  .buttonctr button, .buttonctr input{
 	width: 25%;	
 }
 .display-flx{
 	width:100%;
 	display: flex;
 }
.display-flx  > :first-child{
 	width: 45%;
 	margin-right: 10%;
 }
 .display-flx  > :last-child{
 	width: 45%;
 }
 .bordernone{
 	margin-bottom: 15px;
 }
 .bordernone tr:first-child {
 	background-color: none;
 	border-left-style:hidden;
 	border-top-style:hidden;
 	border-right-style:hidden;
 	border-bottom: 1px solid #4a4e4e;
 	text-align: right;
 		
}
.bordernone tr:first-child td{
 	background: transparent
 			
}
.search{
	
    text-align: center;
    margin-right: 50px;
}
.search:focus, input:focus{
    outline: none;
}
.search :first-child{
	
	display: flex;
    background: #ffffff;
    align-items: center;
    padding: 4px;
    border-radius: 50px;
	
}
.search input {
	width: 350px;
    border-style: hidden;
    border-radius: 20px;
    padding: 10px;
}
.search i {
	padding: 10px;
    padding-right: 15px;
}
.no-results-report{
	
	font-size: 55px;
	text-align: center;
	margin-top: 20px;
    background-color: rgb(255 255 255 / 75%);
    
}
.no-results-report :first-child{
	color: black;
}
.report-btn{
	margin-left: 3px;
}
.credential_success{
	
    margin-bottom: 5px;
	margin-left: 25%;
    margin-right: 25%;
    border-radius: 5px;
	background-color:#048a26;
	text-align:center;
	font-size: 15px;
	color: white;
}
.credential_error{
	
    margin-bottom: 5px;
	margin-left: 25%;
    margin-right: 25%;
    border-radius: 5px;
	background-color:#dc0000;
	text-align:center;
	font-size: 15px;
	color: white;
}
.backround-footer{
	background-color: #212529;
}
.dispblay-flx{
	display: flex;
	justify-content: space-between !important;
}
.searchbar-align{
	margin-left: 25px;
}
.search_select_box{
	
	width: 100%;
}
.search_select_box select{
	
	width: 100%;
}
